@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Raleway);
*{
	margin: 0 auto;
}

body{
	background: #742969;
	color:#fff;
	font-size: 20px;
}
.me-header{
	background-image: url('../img/2.jpg') !important;
	position: relative;
	z-index: -1;
}
.me-header, .me-footer{
	text-align: center;
	height: 20em;
	background: #1A6666;
	color:#fff;
	font-family: 'Lobster', cursive;
	font-variant: initail;
}

.me-right, .me-left{
	margin: 100px 0 100px 0;
	text-align: center;
	font-family: Raleway;
}

.me-dropdown{
	width: 702px;
	color:#000;
}


