@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Raleway);
*{
	margin: 0 auto;
}

body{
	background: #742969;
	color:#fff;
	font-size: 20px;
}
.me-header{
	background-image: url('../img/2.jpg')!important;
	position: relative;
	/*z-index: -1;*/
}
.me-header{
	text-align: center;
	height: 25em;
	background: #1A6666;
	color:#fff;
	font-family: 'Lobster', cursive;
	font-variant: initail;
}

.me-header-text{
	font-size: 5em;
	}

.mMembers li{
	display: inline-block;
	list-style: none;
	
}

.mMembers li>a{
	font-size: 1.3em;
	text-decoration: none;
	color:#fff;
}

.mMembers li>a:hover{
	color: #fffc00;

}

.me-right, .me-left{
	margin: 100px 0 100px 0;
	text-align: center;
	font-family: Raleway;
}

.me-dropdown{
	width: 702px;
	color:#000;
}


.me-main-content{
	min-height: 500px;
	text-align: center;
	padding-top: 10em;
	font-family: lobster;
	color:yellow;
}

.me-footer{
	text-align: center;
	height: 15em;
	background: #1A6666;
	color:#fff;
	font-family: 'Lobster', cursive;
	font-variant: initail;
	position: relative;
	top:100px;
}

.me-log-panel{
	margin: 2em 20em 0 20em;
	font-family: raleway;
	font-size: 14px;
	color:#000;
	background: #efefef;
	padding: 3em 2em 2em 2em;
	border-radius: 10px;

}

.me-required{
	font-size: 2em;
	color:red;
}




